#parallax{
  background-size: cover;
  min-width:100%;
  opacity: 0;
  transition: all 2s ease-out;

}

.parallax-text_left{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

#parallax1{
  @extend #parallax;
  background:  transparent url(../img/parallax1.jpg) center no-repeat;
  height:100vh;


  .parallax1-text{
    @extend .parallax-text_left;
  }

}

#parallax2{
  @extend #parallax;
  background:  url(../img/parallax2.jpg) center no-repeat;
  height:100vh;


  .parallax2-text{
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
  }
}

#parallax3{
  @extend #parallax;
  background:  url(../img/parallax3.jpg) center no-repeat;
  height:100vh;

  .parallax3-text{
      @extend .parallax-text_left;
  }
}

#parallax4{
  @extend #parallax;
  background:  url(../img/parallax4.jpg) center no-repeat;
  position: relative;
  height:100vh;

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .parallax4-text{
    max-width: 50%;
    p{
      color:#fff;
    }
  }

}
